<!doctype html>
<html lang="en">
  <head>
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if (useCDN is same as(null)) or (useCDN == true) %}
      {{ include('head-cdn.html') }}
    {% else %}
      {{ include('head-local.html') }}
    {% endif %}
    {% for c in css %}
        <link rel="stylesheet" href="{{ c }}" type="text/css">
    {% endfor %}
    <link rel="stylesheet" href="/css/common/sb-admin.css" type="text/css">
    <script src="/js/common/sb-admin.min.js" type="text/javascript"></script>
    <script src="/js/common/flipside.min.js" type="text/javascript"></script>
    <script src="/js/common/login.min.js" type="text/javascript"></script>
    {% for j in js %}
      <script src="{{ j }}" type="text/javascript"></script>
    {% endfor %}
    {% block headBlock %}{% endblock %}
  </head>
  <body data-login-url="{{ loginUrl }}" class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
     {{ include('admin-header.html') }}
     {{ include('login-dialog.html') }}
     <div class="content-wrapper">
       <div class="container-fluid">
         {% block contentTop %}
         {% endblock %} 
         {{ body|raw }}
       </div>
     </div>
  </body>
</html>

