<nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
  {% block brand %}
  <a class="navbar-brand" href="#">
    <picture>
      <source srcset="/img/common/logo.svg" style="width: 30px; height:30px">
      <img alt="Burning Flipside" src="/img/common/logo.png" style="width: 30px; height:30px">
    </picture>
  </a>
  {% endblock %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% block sidebar %}
    {% endblock %}
    <ul class="navbar-nav mr-auto">
      {% block leftLinks %}
        {% for name,uri in header.sites %}
          <li class="nav-item"><a href="{{ uri }}" class="nav-link">{{ name }}</a></li>
        {% endfor %}
      {% endblock %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% for name,data in header.right %}
        {% if data.menu is iterable %}
          <li class="nav-item dropdown">
            <a href="{{ data.url|default('#') }}" class="nav-link dropdown-toggle" id="dropdown{{ name }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ name }} <span class="caret"></span></a>
            {% if loop.last %}
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown{{ name }}">
            {% else %}
              <div class="dropdown-menu" aria-labelledby="dropdown{{ name }}">
            {% endif %}
              {% for name,uri in data.menu %}
                <a href="{{ uri }}" class="nav-link">{{ name }}</a>
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item"><a href="{{ data.url|default('#') }}" class="nav-link">{{ name|raw }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
