<!doctype html>
<html lang="en">
  <head>
    <title>{{ pageTitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if (useCDN is same as(null)) or (useCDN == true) %}
      {{ include('head-cdn.html') }}
    {% else %}
      {{ include('head-local.html') }}
    {% endif %}
    {% for c in templateCSS %}
        <link rel="stylesheet" href="{{ c }}" type="text/css">
    {% endfor %}
    {% for c in css %}
        <link rel="stylesheet" href="{{ c }}" type="text/css">
    {% endfor %}
    <script src="/js/common/flipside.min.js" type="text/javascript"></script>
    <script async defer src="/js/common/login.min.js" type="text/javascript"></script>
    {% for j in securejs %}
      <script async defer src="{{ j.src }}" type="text/javascript" integrity="{{ j.hash }}" crossorigin="anonymous"></script>
    {% endfor %}
    {% for j in js %}
      <script async defer src="{{ j }}" type="text/javascript"></script>
    {% endfor %}
    {% block headBlock %}{% endblock %}
    {{ otherHeadData|raw }}
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <script type="text/javascript">
      if(window.Sentry !== undefined) {
        Sentry.init({ dsn: 'https://8d76f6c4cb3b409bbe7ed4300e054afd@sentry.io/4283882' });
      }
    </script>
  </head>
  <body data-login-url={{ loginUrl }}>
     {{ include('header.html') }}
     <noscript>
       <div class="alert alert-danger alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
         <strong>Error!</strong> This site makes extensive use of JavaScript. Please enable JavaScript or this site will not function.
       </div>
     </noscript>
     {{ include('login-dialog.html') }}
     {% if notifications %}
       {% for notification in notifications %}
         <div class="alert {{ notification.sev }} {% if notification.dismissible %}alert-dismissible fade show{% endif %}" role="alert">
           {{ notification.msg|raw }}
           {% if notification.dismissible %}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           {% endif %}
         </div>
       {% endfor %}
     {% endif %}
     <div id="content">
       {% block content %}{% endblock %}
       {{ body|raw }}
     </div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64901342-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-64901342-1');
</script>

     <script>
var wwwUrl = '{{ urls.wwwUrl }}'
var wikiUrl = '{{ urls.wikiUrl }}'
var profilesUrl = '{{ urls.profilesUrl }}'
var secureUrl = '{{ urls.secureUrl }}'
var loginUrl = '{{ urls.loginUrl }}'
var logoutUrl = '{{ urls.logoutUrl }}'
     </script>
  </body>
</html>
